[flake8]
exclude =
  .git,
  __pycache__,
  .venv,
  */migrations/*
statistics = True
max-line-length = 100
max-complexity = 10
ignore-django-orm-queries-complexity = True
noqa-require-code = True
per-file-ignores =
  app/nq/config/api.py:E800
