{% extends "base.html" %}
{% load departments_tags %}
{% load mptt_tags %}

{% block content %}
<div class="treeview border">
  <h6 class="pt-3 pl-3">Departments</h6>
  <hr>
  {% recursetree obj_list %}
  <ul class="mb-1 pl-3 pb-2">
    <li><i class="fas fa-angle-right rotate"></i>
      <span><i class="far fa-folder-open ic-w mx-1"></i>{{ node.name }}</span>
      <ul class="nested">
        {% if not node.is_leaf_node %}
        {{ children }}
        {% endif %}
        {% for employee in node.staff.all %}
        <li><i class="far fa-address-book ic-w mr-1"></i>{{ employee.fio }}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  {% endrecursetree %}
{% endblock content %}


{% block extra_js %}
<script type="text/javascript">
  // Treeview Initialization
  $(document).ready(function() {
    $('.treeview').mdbTreeview();
  });
</script>
{% endblock extra_js %}